---
const currentYear = new Date().getFullYear();
const siteName = "Aoristos";
---

<p>&copy; {currentYear} {siteName}. All rights reserved.</p>

<style lang="scss">
    p {
        margin: 0;
        margin-right: 2vw;
        text-align: right;
        color: $fontC;
    }
</style>
