<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
        【リアビズの結果報告】<br />リアビズは金賞という結果に終わりました。<br
        />グランプリは獲得ならずでしたが、色々な方が褒めてくださりました。<br
        />関係者の皆様、参加させて下さり本当にありがとうございました！！<a
            href="https://twitter.com/hashtag/%E3%83%AA%E3%82%A2%E3%83%93%E3%82%BA?src=hash&ref_src=twsrc%5Etfw"
            >#リアビズ</a
        >
        <a href="https://t.co/PoAODFQBv9">pic.twitter.com/PoAODFQBv9</a>
    </p>&mdash; Team Aoristos (@Team_Aoristos) <a
        href="https://twitter.com/Team_Aoristos/status/1870762757454495764?ref_src=twsrc%5Etfw"
        >December 22, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
></script>
