---
const links = [
    { url: "/", text: "Home" },
    { url: "/about", text: "About" },
    { url: "/blog", text: "Blog" },
    { url: "/achievements", text: "Achievements" },
    { url: "/contact", text: "Contact" },
];
---

<header>
    <div class="nav-wrapper">
        <nav class="nav">
            <ul class="nav__menu">
                {
                    links.map((item) => {
                        return (
                            <li class="nav__item">
                                <a class="nav__link" href={item.url}>
                                    {item.text}
                                </a>
                            </li>
                        );
                    })
                }
            </ul>
            <div class="bottom-line"></div>
        </nav>
    </div>
    <div class="spacer" />
</header>

<style lang="scss">
    header {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        box-shadow: 0 2px 5px $grayC;
    }

    .nav__menu {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .nav__item {
        flex: 1;
        text-align: center;
        border-left: 0.2px solid $grayC;
        border-right: 0.2px solid $grayC;
        &:hover {
            background-color: $grayC;
        }
    }

    .nav__link {
        display: block;
        text-decoration: none;
        color: $fontC;
        text-align: center;
        padding: 8px;
        &:hover {
            text-decoration: underline;
        }
    }

    .bottom-line {
        background-color: $themaC;
        height: 1.5px;
        width: 100%;
    }
    
    .spacer{
        margin-top: 50px;
    }
</style>

<script></script>
